/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.video-container {
    flex: 3; /* Increase flex value to take more space */
    height: 70%; /* Ensure it takes up most of the screen height */
}

.video-js {
    width: 100%;
    height: 100%;
}

.channel-guide {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: #222;
    color: #fff;
    padding: 10px;
    height: 30%; /* Adjust the height to be less than the video player */
}

/* Scrollbar styles for WebKit-based browsers */
.channel-guide::-webkit-scrollbar {
    width: 20px; /* Adjust the width for vertical scrollbar */
    height: 12px; /* Adjust the height for horizontal scrollbar */
}

.channel-guide::-webkit-scrollbar-track {
    background: #444; /* Scrollbar track color */
    border-radius: 10px;
}

.channel-guide::-webkit-scrollbar-thumb {
    background-color: #888; /* Scrollbar thumb color */
    border-radius: 10px;
    border: 2px solid #444; /* Padding around scrollbar thumb */
}

.channel-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #333;
    border-radius: 5px;
    cursor: pointer;
}

.channel-item:hover {
    background-color: #444;
}

.channel-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

/* Responsive design */
@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }

    .video-container {
        flex: 3;
        height: 100%;
    }

    .channel-guide {
        flex: 1;
        height: 100%;
    }

    .channel-item {
        display: flex;
        align-items: center;
        padding: 5px;
    }

    .channel-item img {
        width: 50px;
        height: auto;
        margin-right: 10px;
    }
}